input {
	border-radius: 3px;
	margin-bottom: 15px;
	border: none;
	padding: 5px 10px;
	color: black;
	width: 300px;
}

.scanButton,
.manualEnterBtn {
	background: #E0CD1A;
	border: none;
	padding: 5px 10px;
	color: white;
	font-weight: 700;
	border-radius: 3px;
	height: 200px;
	font-size: 20px;
}

.manualEnterBtn {
	background: lightgray; 
}

.buttonGroup {
	margin: 0 auto;
}