

.bg-dark {
	background-color: black !important;
	padding: 20px 0;
}

h1 {
	color: #E0CD1A;
}

.logout {
	color: #E0CD1A;
	position: fixed;
	right: 30px;
	font-size: 30px;
}
.navbar-nav .nav-item .navbar-brand .nav-link {
	align-items: flex-end;
}
