

.bg-dark {
	background-color: black !important;
	padding: 20px 0;
}

h1 {
	color: #E0CD1A;
	text-transform: uppercase;
}

.logout {
	color: #E0CD1A;
	position: absolute;
	right: 50px;
	font-size: 30px;
}
